<main class="container mt-4">
  <form [formGroup]="tipoFormGroup">
    <div class="card rounded-4 p-3">
      <h3 class="mb-4">Cadastro de Tipos de Contatos</h3>
      <section class="row mb-3">
        <label for="tipo">Tipo de Contato</label>
        <div>
          <input class="form-control" formControlName="tipo" type="text" placeholder="Digite o nome do Tipo">
        </div>
      </section>
      <section class="row mb-3">
        <label for="descricao">Descrição do tipo</label>
        <div>
          <input class="form-control" formControlName="descricao" type="text" placeholder="Digite uma descrição">
        </div>
      </section>
      <section class="row">
        <div class="btn-save text-center">
          <button class="btn btn-success w-50 mt-3" type="submit" (click)="save()">Save
            <i class="bi bi-box-arrow-in-right"></i></button>
        </div>
      </section>
    </div>
  </form>
  <div class="card rounded-4  p-4 mt-5">
    <h3 class="text-center mb-4">Tabela dos Tipos</h3>
    <table class="table table-dark table-striped-columns">
      <thead>
        <tr class="text-center">
          <th scope="col">ID</th>
          <th scope="col">Tipo</th>
          <th scope="col">Descrição</th>
        </tr>
      </thead>
      <tbody class="table-group-divider text-center" style="font-size: 14px;">
        <tr *ngFor="let tipo of arrayTipo">
          <th scope="row">{{ tipo.id }}</th>
          <td>{{ tipo.tipo }}</td>
          <td>{{ tipo.descricao }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</main>
